<table cellpadding="0" cellspacing="0" border="0" style="font-family:Arial,sans-serif;font-size:13px;background:#f9f9f9;border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%!important" bgcolor="#f9f9f9">
    <tbody>
        <tr>
            <td>
                <table style="border-collapse:collapse;margin:20px
    auto;max-width:635px;min-width:320px;width:100%">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <table cellpadding="0" cellspacing="0" border="0" style="border:none;border-collapse:collapse;font-size:1px;height:2px;line-height:2px;width:100%">
                                    <tbody>
                                        <tr>
                                            <td valign="top" style="background:#f7921e;border:none;font-family:Arial,sans-serif;width:100%">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="background-color:#dff0fd;text-align:center">
                                <table cellpadding="0" cellspacing="0" border="0" style="border:none;border-collapse:collapse;margin:12px
    auto;width:98px">
                                    <tbody>
                                        <tr>
                                            <td valign="top" height="46">
                                                <a href="https://codemath.vn" target="_blank">
                                                    <img src="https://codemath.vn/media/logos/logocodemath.png"
                                                         width="158px" height="46px" style="display:block;margin:0;padding:0;border:0"
                                                         data-image-whitelisted="" class="CToWUd" data-bit="iit">
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding:0 24px 24px 24px" bgcolor="#ffffff" align="center">
                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;line-height:100%!important;margin:0;padding:0;width:100%;max-width:595px">
                                    <tbody>
                                        <tr>
                                            <td style="border:none;font-family:Arial,sans-serif;font-size:13px;width:100%">
                                                <p style="margin-top:16px;text-align:center;font-size:22px;line-height:27px" align="center">
                                                    <b>Đăng ký khóa học @Model?.Title thành công!</b>
                                                </p>
                                                <p style="line-height:1.5;margin:0 0 16px
    0;text-align:left!important" align="left"> Dear <b>@Model?.FullName</b>, </p>
                                                <p style="line-height:1.5;margin:0;text-align:left!important" align="left">
                                                    Chúc mừng bạn đã đăng ký và thanh toán thành công khóa học @Model?.Title tại thời điểm @Model?.Time, để khai thác khóa học, vui lòng truy cập vào codemath.vn, đăng nhập và sử dụng.
                                                </p>
                                                <p style="line-height:1.5;margin:0 0 8px 0;text-align:left!important" align="left">
                                                    Mọi thông tin hoặc yêu cầu hỗ trợ, vui lòng liên hệ:
                                                </p>
                                                <ul style="margin:0 0 16px
    0;text-align:left!important">
                                                    <li style="line-height:1.2;margin:0 0 8px
    0;text-align:left!important;list-style:disc inside"> Email: <a href="mailto:codemath.vn@gmail.com" target="_blank">codemath.vn@gmail.com</a> </li>
                                                    <li style="line-height:1.2;margin:0 0 16px
    0;text-align:left!important;list-style:disc inside">
                                                        Hotline: 097 262 5630
                                                    </li>
                                                </ul>
                                                <p style="line-height:1.5;margin:0 0 16px 0;text-align:left!important" align="left">
                                                    Chúc bạn luôn tràn đầy năng lượng và thành công!
                                                </p>
                                                <p style="line-height:1.5;margin:16px
    0;text-align:left!important" align="left">
                                                    Trân trọng và cảm ơn,
                                                    <br>Đội ngũ CodeMath
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="background-color:#dff0fd;padding:18px
    0;text-align:center!important" align="center">
                                <p style="font-size:16px;line-height:1.5;margin:0 0 12px
    0;text-align:center!important;color:#666666" align="center">
                                    <b>Download CodeMath - Toán Olympic quốc tế App</b>
                                </p>
                                <table width="300" cellpadding="0" cellspacing="0" style="border-collapse:collapse!important;border:0;margin:0
    auto">
                                    <tbody>
                                        <tr>
                                            <td width="80" style="margin:0;padding:0">
                                                <a href="https://apps.apple.com/app/codemath-learn-math-together/id6448272564" target="_blank">
                                                    <img src="https://codemath.vn/media/logos/IOS.png"
                                                         width="80" height="26" alt="iOS"
                                                         style="display:block;margin:0;padding:0;border:0" data-image-whitelisted=""
                                                         class="CToWUd" data-bit="iit">
                                                </a>
                                            </td>
                                            <td width="40" style="margin:0;padding:0"> &nbsp; </td>
                                            <td width="80" style="margin:0;padding:0">
                                                <a href="https://play.google.com/store/apps/details?id=com.daunut.codemath" target="_blank">
                                                    <img src="https://codemath.vn/media/logos/GGPlay.png"
                                                         width="80" height="26" alt="Android"
                                                         style="display:block;margin:0;padding:0;border:0" data-image-whitelisted=""
                                                         class="CToWUd" data-bit="iit">
                                                </a>
                                            </td>
                                            <td width="40" style="margin:0;padding:0"> &nbsp; </td>
                                            <td width="80" style="margin:0;padding:0"> </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" style="padding-top:24px;color:#999999;font-size:13px;letter-spacing:0;text-align:center">
                                <p style="line-height:1.5;margin:0 0 16px 0">
                                    © 2023 Thanh Nam JSC. All rights reserved
                                </p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>